@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.frontpage { 
    width: 100%;
    height: 100vh;
    background-color: bisque;
    background-size: cover;

}
 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.png {
    max-height: 80px;
    max-width: auto;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #1d1d1d;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #fd4766;
}

nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #fd4766;
    transition: 3s;
    bottom: 0;

}

nav ul li a:hover::after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}

.btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

.content {
    position: absolute;
    top: 35%;
    left: 8%;
}

.content .title {
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}

.content h1 span {
    color: #fd4766;
}

.content p {
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    background-size: cover;
}

/*Home Section */

#home {
    padding: 100px 100px 100px;
}

#home .home-content{
    
    font-family: sans-serif;
    text-align: justify;

}

.btn2 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    margin-top: 30px;
}

.btn2:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

/*About Section */

#about{
    padding: 100px 100px 100px 100px;
    background-color: bisque;
}

#section2 {
    font-weight: 400;
}

.about-content{
    width: 80%;
    margin: 40px auto;
    font-family: sans-serif;
}
.title {
    display: flex;
    justify-content: center;
    margin: 40px;
    display: flex;
}

.about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 45%;
}

.img-about {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12%;
}

.right {
    width: 55%;
    text-align: justify;
    color: #0E2431;
}

/*Service Section*/

#services {
    padding: 60px 60px 60px 60px;
}

.name {
    text-align: center;
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: bold;
}

.box-grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 4rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 85%;
    transition: all .2s ease-in;

}

.box1 {
    background-color: bisque;
}

.box2 {
    background-color: bisque;
}

.box3 {
    background-color: bisque;
}


.topic {
    background: var(white);
    padding: 1rem 1rem;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
}

.icon {
    position: absolute;
    top: 1.5rem;
    transform: translateX(-50%);
    color: var();
}

.topic h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.topic p {
    font-family: sans-serif;
    color: var(black);
    line-height: 1.6;
}

.icon:hover {
    background: var(primary);
}

.topic:hover h2 {
    color: var(white);
}

.topic:hover p {
    color: var(white);
}

/*Contact */
#contact {
    background-color: bisque;
    padding: 100px 100px 100px 100px;
}

#contact .title{
    font-weight: bolder;
    font-size: x-large;
}

.main h2 {
    font-size: larger;
    text-align: center;
    margin: auto;
}

.main p {
    text-align: center;
    margin-top: 2rem;
}

.btn3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    
}

.btn3:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

.btn3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

/*Footer Section */

footer {
    padding: 15px 20px 15px 20px;
    text-align: justify;
    background-color: bisque;
    color: black;
}
